#header {
    background-color: #087f8c;
}

 a, #tagline {
    color: #ffffff;
}

 h1, #tagline {
     text-align: center;
 }

h1 {
    padding-top: 10px;
}

a {
    text-decoration: none;
}

#tagline {
    padding-bottom: 10px;
}