#header {
    background-color: #087f8c;
}

h1, #tagline {
    color: #ffffff;
    text-align: center;
}

h1 {
    padding-top: 10px;
}

#tagline {
    padding-bottom: 10px;
}

h2, h3 {
    color: #095256;
    text-align: center;
}

#ingredient-error-message {
   color: red;
   text-align: center;
   font-size: 18px;
   font-weight: bold;
}


textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 125%;
}

button {
    padding: 5px;
    margin-left: 1000px;
}


