h2, h3 {
    color: #095256;
    text-align: center;
}

#ingredient-error-message {
   color: #bb9f06;
   text-align: center;
   font-size: 18px;
   font-weight: bold;
}


textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 125%;
}

button {
    padding: 10px;
    color: #095256;
    font-weight: bold;
    margin-left: 1000px;
}


