h2, p {
    color: #095256;
    text-align: center;
}
h2 {
    font-size: 25px;
}

p {
    color: #bb9f06;
    font-weight: bold;
}

ul {
    list-style: none;
}

a {
    color: blue;
}

.recipeName {
    text-align: center;
    color: #5aaa95;
    font-weight: bold;
    font-size: 110%;
}